<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store - Admin Panel</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link href="css/extra-style.css" rel="stylesheet">
</head>

<body ng-app="app" ng-controller="ItemsCtrl as itemsCtrl">
<div class="container-fluid">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                 <li class="active"><a href="/">Items overview</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Store - Items</h3>
    </div>
    <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{ ((currentPage * 10) -10 ) + $index + 1 }}</td>
                    <td>
                        <span editable-text="item.name" onaftersave="update($index)" e-name="name" e-form="rowform" e-required>
                            {{ item.name || 'empty' }}
                        </span>
                    </td>
                    <td>
                         <span editable-number="item.price" e-name="name" e-form="rowform" e-required>
                            {{ item.price || 'empty' }}
                        </span>
                    </td>
                    <td style="white-space: nowrap">
                        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn-link">
                                <span class="glyphicon glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn-link">
                                <span class="glyphicon glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <a href="" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil action-icon"></span></a>
                            <a href="" ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>  
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" ng-model="item.name" placeholder="Name" /></th>
                    <th><input class="form-control" type="number" ng-model="item.price" placeholder="Price" />
                    <th>
                        <a href="" ng-click="add(item)"><span class="glyphicon glyphicon-ok"></span></a>
                    </th>
                </tr> 
            </tbody>
    </table>
    <div class="text-center">
        <uib-pagination total-items="totalItems" ng-change="refresh()" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
    </div>
    <div>
        <footer class="footer">
            <p>&copy; gerritruiter.nl 2015</p>
        </footer>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="js/itemsController.js"></script>
    </div>
</body>
</html>